.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 3rem;
  /* margin: 0 auto; */
}
.Customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IncrDecrementCreators {
  margin-top: 3rem;
}

.ml-2 {
  margin-left: 2rem;
}
.ml-4 {
  margin-left: 4rem;
}
